@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

html {
    /*background-color: #3c544c;*/
    color: #FFFFFF;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #3c544c;
}

body {
    margin: 0;
}

#page {
    position: relative;
    min-height: 100vh;
}

#content {
    padding-bottom: 5rem;
    background-color: #3c544c;
    color: #FFFFFF;
}

#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    height: 3rem;
    padding-top: 2rem;
    width: 100%;
    background-color: #433d3c;
}

a{
    color: #FFFFFF;
    text-decoration: none;
}
a:hover{
    color: #FFFFFF;
    text-decoration: none;
}